<%= simple_nested_form_for @address do |f| %>
  <div class="input-group">
    <%= f.input :address_line_1 %>
    <%= f.input :address_line_2 %>
    <%= f.association :state %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>