<%= form_for @phone_type do |f| %>
  
  <% if @phone_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@phone_type.errors.count, "error") %> prevented this phone_type from being saved:
        <!-- 'pluralize' is a rails helper that takes a number and a string as arguments. If the number is greater than one, the string is automatically pluralized. -->
      </h2>
      <ul>
        <% @phone_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<!-- The 'url: phone_types_path' tells the form to 
submit to the phone_types POST route by default. The
'form_for :phone_type' part tells rails that the form 
is for our 'phone_types' resource. -->
  <form class="col-md-4">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <%= f.submit :class => "btn btn-default" %>
  </form>
<% end %>