<!DOCTYPE html>
<html>
<head>
  <title>ProposalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
			<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to 'Proposal App', root_path, :class => "navbar-brand" %>
			</div>

			<div class="collapse navbar-collapse" id="nav-links">
				<ul class="nav navbar-nav">
					<% if user_signed_in? %>
						<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to 'Sign In', new_user_session_path %></li>
						<li><%= link_to 'Sign Up', new_user_registration_path %></li>
					<% end %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">Tables <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Utilities', utilities_path %></li>
							<li><%= link_to 'Phone Numbers', phone_numbers_path %></li>
							<li><%= link_to 'Phone Types', phone_types_path %></li>
							<li><%= link_to 'Emails', emails_path %></li>
							<li><%= link_to 'People', people_path %></li>
							<li><%= link_to 'Addresses', addresses_path %></li>
							<li><%= link_to 'Homes', homes_path %></li>
						</ul>
					</li>
				</ul>
			</div>
	</div>
</nav>


<div class="container">
	<%= yield %>
</div>

</body>
</html>
